h1 a, h1 a:hover {
    color: white;
    text-decoration: none;
}
.carousel-caption {
    top: 91.5%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-caption h1 {
    font-size: 80px;
}

.carousel-item div {
    height: 800px;
}

.img1 {
    background-image: url(./img/background.png);
    background-position: center;
    background-size: cover;
}

.img2 {
    background-image: url(./img/cc1.jpg);
    background-position: center; 
}

.img3 {
    background-image: url(./img/cc.jpg);
    background-position: center;
}

#carouselWrapperFade {
    height: 800px;
    font-family: 'Signika', sans-serif;
}